* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
    --green: #97F0C6;
    --teal: #87EDE7;
    --gray: #515252;
    --purple: #E7DAF7;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(.27turn, grey 25%, black);
}

/* Header section used for both header and footer. Flexbox nav bar with name on the left and nav on right */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-image: linear-gradient(.9turn, grey, black);
    height: 80px;
}

header h1 {
    font-size: 28pt;
    text-align: right;
}

header nav {
    font-size: 24pt;
    padding: 0 10px;
}

header a {
    padding: 0px 30px 5px 30px;
    text-decoration: none;
    border-bottom: solid var(--teal) 5px;
    text-align: center;
}

section a {
    text-decoration: none;
}

/* banner of www image and caption box for a second title on the site */
.banner {
    display: flex;
    background-image: url(./Banner.jpg);
    height: 150px;
    width: 100%;
    background-size: contain;
    background-repeat: none;
    
}

.banner-caption {
    display: flex;
    position: relative;
    left: 10%;
    z-index: 1;
    padding: 2%;
    background-color: grey;
    align-items: center;
    font-size: 20pt;
}

main {
 width: 88%;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 5%;
}

/* Flexbox for about me section on the left, paragraph in the center, and professional headshot image on the right */
.about {
    display: flex;
}

.about h1 {
    flex: 0 0 15%;
    font-size: 28pt;
    text-align: right;
    padding: 15px;
    border-right: solid 5px var(--purple);
    color: var(--purple);
}

.about div {
    flex: 0 0 70%;
}

.about p {
    text-align: justify;
    padding: 2%;
}

/* image size of professional photo */
.headshot {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    padding: 5%;
}

/* Flexbox rules for portfolio section portfolio title on left and 5 future projects that are links with a placeholder site */
.portfolio {
    display: flex;
}

.portfolio h1 {
    flex: 0 0 15%;
    font-size: 28pt;
    text-align: right;
    padding: 15px;
    border-right: solid 5px var(--purple);
    color: var(--purple);
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 80%;
    gap: 10px;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 1%;
}

.portfolio-image {
    min-height: 200px;
    min-width: 200px;
    border: var(--teal) solid 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* larger first project box */
.first {
    min-height: 500px;
    flex-basis: 100%;
    background-image: url(./nebula.png);
    background-position: center;
}   
/* smaller flexbox for projects two and onward */
.second {
    min-height: 200px;
    flex-basis: calc(50% - 1em);
    background-image: url(coming\ soon2.jpg);
    background-position: center;
}
/* flexbox rules for first project title rules  */
.title {
    display: flex;
    position: relative;
    background-color: var(--teal);
    top: 70%;
    z-index: 1;
    height: 50px;
    width: 100px;
    padding: 20px;
    align-items: center;

}
/* text style for project 1 title box */
.title h2 {
    text-align: center;
    padding: 10%;
    font-size: 16pt;
    color: black;
}
/* flexbox rules for second (smaller) title box */
.title2 {
    display: flex;
    position: relative;
    background-color: var(--teal);
    top: 65%;
    height: 30px;
    width: 100px;
    padding: 10px;
    align-items: center;
}

/* text rules for smaller project titles */
.title2 h2 {
    font-size: 16pt;
    padding: 10%;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* media query to make projects flexbox convert to one colum on smaller screens */
@media screen and (max-width: 768px) {

.second {
    flex-basis: 100%;
}

}


a:hover {
    filter: brightness(1.2);
}
